@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

.principal {
    display: flex;
    min-height: 100vh;
}

.navegacion {
    width: 220px;
    background-color: #69ff4f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navegacion ul {
    list-style: none;
}

.navegacion li {
    margin-bottom: 15px;
}

.navegacion a {
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.1s;
}

.navegacion a:hover {
    background-color: #f3ff4f;
}

.principal:not(:has(.contenedor:target)) .navegacion a[href="#inicio"],
.principal:has(#inicio:target) .navegacion a[href="#inicio"],
.principal:has(#quiensoy:target) .navegacion a[href="#quiensoy"],
.principal:has(#proyecto:target) .navegacion a[href="#proyecto"],
.principal:has(#practicas:target) .navegacion a[href="#practicas"],
.principal:has(#contacto:target) .navegacion a[href="#contacto"] {
    background-color: #f3ff4f;
    font-weight: bold;
}

.navegacion footer {
    background-color: #61d0ff;
    font-size: 0.85rem;
    text-align: center;
}

.contenido-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.contenedor {
    display: none; 
    height: 100vh;
    width: 100%;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.contenedor:target {
    display: flex;
}

.contenedor:first-child {
    display: flex;
}

.contenido-principal:has(:target) .contenedor:first-child {
    display: none;
}

.contenido-principal:has(#inicio:target) #inicio {
    display: flex;
}


.inicio {
    background-color: #5feaff;
}

.quiensoy {
    background-color: #ffffff;
}

.proyecto {
    background-color: #5feaff;
}

.practicas {
    background-color: #ffffff;
}

.contacto {
    background-color: #5feaff;
}








.inicio {
    text-align: center;
    width: 100%;

}

.inicio h1 {
    font-size: 5rem;
    font-weight: 800;
}

.inicio .subtitulo {
    font-size: 2.2rem;
    margin-top: 5px;
}

.inicio .linea {
    width: 60%;
    height: 3px;
    background-color: #1576ff;
    margin: 20px auto;
}

.inicio p {
    font-size: 1.1rem;
    margin: 8px 0;
}